<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link media="screen and (min-width: 840px)" href="/css/homepage.css" rel="stylesheet">
    <link media="screen and (max-width: 840px)" href="/css/homepagephone.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="/javascript/homepage.js" defer></script>
    <title>Dang Hoan Nguyen's Profile</title>
</head>

<body>
    <div id="outer">
        <div id="header" class="text-center">
            <img id="avatar" src="/image/avatar.jpg" alt="My image">
        </div>
        <nav id="horizontal-menu" class="navbar navbar-expand-sm bg-light justify-content-center fs-3 font-weight-bold">
            <ul class="navbar-nav">
                <li class="nav-item" id="information">
                    <a class="nav-link" href="#" v-on:click="viewProfile">About me</a>
                </li>
                <li class="nav-item" id="portfolio">
                    <a class="nav-link" href="#" v-on:click="viewPortfolio">My projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" v-on:click="viewContact">Contact</a>
                </li>
            </ul>
        </nav>

        <div id="content">
            <template v-if="cur == 0">
                <div id="info-content" class="col-8">
                    <h1 id="name">Dang Hoan Nguyen</h1>
                    <hr class="small dvdr" />
                    <h3>Web Developer</h3>
                    <br />
                    <br />

                    <p class="para">I am enthusiatic of developing applications with outstanding user interface and
                        well-qualified user experience.</p>
                    <p class="para">With that in mind, I have already conducted a range of projects to develop my skills
                        and knowledge. After long time of improvement, I gain knowledge and experience with, not only,
                        multiple frameworks but also technologies.
                        Thanks to that, I can now develop applications with a range of distinctive functioning...
                    </p>


                </div>
            </template>
            <template v-if="cur == 1">
                <div class="row" id="project-ctn">
                    <div id="vertical-menu-projects" class="col col-4">
                        <div v-for="p in projects"></div>


                        <nav class="navbar justify-content-center fs-3 font-weight-bold">
                            <ul class="navbar-nav">

                                <li v-for="p in projects">
                                    <button type="button" class="nav-link project-badge col-12" v-bind:value="p.id"
                                        v-on:click="loaddescription">{{p.name}}</button>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div id="main-content-projects" class="col col-8">
                        <h1 id="project-name"></h1>
                        <strong id="temp">Choose a project for details</strong>
                        <br>
                        <p id="gitrepo"></p>
                        <br>
                        <img src="#" alt="image" id="project-pic">
                        <br>
                        <p id="description"></p>
                    </div>
                </div>
            </template>
            <template v-if="cur == 2">
                <div id="contact-ctn">
                    <p> <strong>Github:</strong> <a v-bind:href="github">{{github}}</a></p>
                    <p><strong>LinkedIn:</strong> <a v-bind:href="linkedin">{{linkedin}}</a></p>
                    <p><strong>Upwork:</strong> <a v-bind:href="upwork">{{upwork}}</a></p>
                    <p><strong>Phone Number: </strong>{{phoneNo}}</p>
                </div>
            </template>
        </div>
    </div>
</body>

</html>